#confirm-order {
  .order-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  img {
    width: 120px;
  }

  .orders {
    border: 1px solid $light-grey;
    padding: 1rem;
    margin-bottom: 30px;

    h3 {
      border-bottom: 1px solid $light-grey;
    }

    label {
      padding-bottom: 15px;
    }

    .govuk-table__cell {
      width: 5rem;
    }

    .govuk-body-l {
      margin-bottom: 0;
    }
  }

  .govuk-body {
    padding-bottom: 1rem;
  }

  .govuk-body-l {
    font-size: 2rem;
  }
}

.successful-ordered {
  a {
    text-decoration: none;

    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 40em) {
  #confirm-order {
    img {
      width: 80px;
    }

    .orders {
      .govuk-grid-column-one-half {
        padding-top: 15px;
      }

      .govuk-grid-column-one-quarter {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
    }
  }
}
