#forgot-password {
  .forgot-password {
    border: 1px solid $light-grey;
    padding: 15px;
    margin-bottom: 30px;
  }

  .govuk-body {
    border-bottom: 1px solid $light-grey;
    padding-bottom: 1rem;
  }

  .idsk-button--start {
    margin-bottom: 0;
  }
}

@media (max-width: 40em) {
  #forgot-password {
    .govuk-button {
      margin-bottom: 15px;
    }
  }
}



